<div class="p-3 mb-2 bg-info text-white" id="home">
  <div class="jumbotron text-info">
    <h1 class="display-4">{{msg}}</h1>
    <h3 class="font-weight-lighter">Ready for Nesting?</h>
    <form class="clearfix mb-4 add-form" action="POST">
      <div id="spaceSearch text-center">
        <input type="text" id="inputSearch" class="form-control searchForm"
          placeholder="Search Something You Saved!">
        <button id="submitSearch" class="btn btn-info searchButton">Submit</button>
      </div>
    </form>
  </div>
  <!--Main Container--->
  <div class="container">
    <div class="row" id="inventory">
      <div class="col-md">
        <h4 class="font-weight-lighter">Start your home inventory:</h4>

        <button type="button" class="btn btn-secondary font-weight-light" 
        data-toggle="modal" data-target="#myModal">
          New Item</button>

        <button type="button" class="btn btn-secondary font-weight-light">
          <a href="/categories" style="color: white">New Category</a>
        </button>

        <button type="button" class="btn btn-secondary font-weight-light">
          <a href="/locations" style="color: white">New Location</a>
        </button>

        <button type="button" class="btn btn-secondary font-weight-light">
          <a href="/mailer" style="color: white">Email My Info!</a>
        </button>

      </div>
    </div>
    <div class="row">
      <div class="col-md"></div>
    </div>

    <!-- Card Deck -->
    <div class="row">
      <div class="col-md">
        <div id="inventory-list" class="card-columns">
          {{#each items}}
          <div data-id="{{this.id}}" class="card text-white bg-success mb-3" style="max-width: 30rem;">
            <div class="card-header text-center">
              <i class="fas fa-pen-alt editing float-left" data-toggle="modal" data-target="#myModal"></i>
              <i class="fas fa-trash-alt delete float-right" data-toggle="modal" data-target="#deleteModal"></i>
              <h6>{{this.item}}</h6>
            </div>
            <div class="card-body">
              <p class="card-text">{{this.description}}</p>
              <p class="card-text">$ {{this.cost}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Modal for Card Deletion-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Delete this item?</h4>
      </div>
      <div class="modal-body" style="display: none">
        <form class="clearfix mb-4 add-form" action="POST">
          <div id="hiddenID">
            <input type="text" id="idSeqDelete" class="form-control" aria-describedby="idSeqDelete"
              placeholder="Enter ID Number">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="confirming" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Card Modification-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-info font-weight-light" id="myModalLabel">Household Inventory</h4>
      </div>
      <div class="modal-body">
        <form class="clearfix mb-4 add-form" action="POST">
          <div id="hiddenID" style="display: none">
            <input type="text" id="idSeq" class="form-control" aria-describedby="idSeq" placeholder="Enter ID Number">
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <badge class="text-info font-weight-bold">Item Name</badge>
                <input type="text" id="itemName" class="form-control" aria-describedby="itemName"
                  placeholder="Enter Item Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <label for="category" class="text-info font-weight-bold">Category</label>
                <select id="category" class="form-control" aria-describedby="category">
                  {{#each categories}}
                  <option value="{{this.id}}">{{this.categoryName}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="location" class="text-info font-weight-bold">Location</label>
                <select id="location" class="form-control" aria-describedby="location">
                  {{#each locations}}
                  <option value="{{this.id}}">{{this.locationName}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <badge for="example-text" class="text-info font-weight-bold">Cost</badge>
                <input type="number" id="cost" class="form-control" aria-describedby="cost" placeholder="$0.00">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <badge for="example-text" class="text-info font-weight-bold">Serial Number</badge>
                <input type="text" id="serialNum" class="form-control text-info" aria-describedby="serialNum"
                  placeholder="Serial # (if applicable)">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <badge for="example-text" class="text-info font-weight-bold">Warranty Expiration</badge>
                <input type="date" id="warrantyExp" class="form-control" aria-describedby="warrentyExp" placeholder="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <badge for="example-description" class="text-info font-weight-bold">Description</badge>
                <textarea class="form-control" id="description" aria-describedby="description"
                  placeholder="Enter Notes and Description"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default text-info" data-dismiss="modal">Close</button>
        <button id="submit" type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>