<div class="p-3 mb-2 bg-info text-white" id="home">
  <div class="jumbotron text-info">
    <h1 class="display-4">{{msg}}</h1>
    <h3 class="font-weight-lighter">Ready for Nesting?</h>
  </div>
  <!--Main Container--->
  <div class="container">
    <div class="row" id="inventory">
      <div class="col-md">
        <h4 class="font-weight-lighter">Start your home inventory:</h4>
        {{!-- <button type="button" class="btn btn-secondary font-weight-light" data-toggle="modal" data-target="#myModal">Add --}}
          {{!-- New Item</button> --}}
        <a href="/categories">Add New Category</a> | <a href="/locations">Add New Location</a> | <a href="#" data-toggle="modal" data-target="#myModal">Add New Category</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div id="inventory-list" class="card-columns">
          {{#each items}}
          <div data-id="{{this.id}}" class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">
              {{!-- {{this.item}}
              <i class="fas fa-camera"></i> <!-- this icon's 1) style prefix == fas and 2) icon name == camera -->
              <i class="fas fa-camera"></i> <!-- using an <i> element to reference the icon -->
              <span class="fas fa-camera"></span> <!-- using a <span> element to reference the icon --> --}}

              {{!-- <i class="fas fa-check"></i> --}}
              <i class="fas fa-pen-alt editing float-left" data-toggle="modal" data-target="#myModal"></i>
              <!-- Modal -->

              <i class="fas fa-trash-alt delete float-right" data-toggle="modal" data-target="#deleteModal"></i>
            </div>

            <div class="card-body">
              <p class="card-title">{{this.item}}</p>
              <p class="card-text">{{this.description}}</p>
              <p class="card-text">{{this.cost}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button> --}}
        <h4 class="modal-title" id="myModalLabel">Delete this item?</h4>
      </div>
      <div class="modal-body" style="display: none">
        <form class="clearfix mb-4 add-form" action="POST">
          <div id="hiddenID">
            <input type="text" id="idSeqDelete" class="form-control" aria-describedby="idSeqDelete"
              placeholder="Enter ID Number">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="confirming" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button> --}}

        <h4 class="modal-title text-info font-weight-light" id="myModalLabel">Household Inventory</h4>

      </div>
      <div class="modal-body">
        <form class="clearfix mb-4 add-form" action="POST">
          <div id="hiddenID" style="display: none">
            <input type="text" id="idSeq" class="form-control" aria-describedby="idSeq" placeholder="Enter ID Number">
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <badge class="text-info font-weight-bold">Item Name</badge>
                <input type="text" id="itemName" class="form-control" aria-describedby="itemName"
                  placeholder="Enter Item Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <label for="category" class="text-info font-weight-bold">Category</label>
                <select id="category" class="form-control" aria-describedby="category">
                  {{#each categories}}
                  <option value="{{this.id}}">{{this.categoryName}}</option>
                  {{/each}}
                  {{!-- This was supposed to be a link to an add new category page.
                          As expected, it doesn't work. --}}
                  {{!-- <option><a href="/categories">Add New Category</a></option> --}}
                </select>
                {{!-- <label for="example-text">Category</label>
                <input type="text" id="category" class="form-control" aria-describedby="category" placeholder="Enter Example Text"> --}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="location" class="text-info font-weight-bold">Location</label>
                <select id="location" class="form-control" aria-describedby="location">
                  {{#each locations}}
                  <option value="{{this.id}}">{{this.locationName}}</option>
                  {{/each}}
                </select>
                {{!-- <input type="text" id="location" class="form-control" aria-describedby="location" placeholder="Enter Example Text"> --}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <badge for="example-text" class="text-info font-weight-bold">Cost</badge>
                <input type="number" id="cost" class="form-control" aria-describedby="cost" placeholder="$0.00">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <badge for="example-text" class="text-info font-weight-bold">Serial Number</badge>
                <input type="text" id="serialNum" class="form-control text-info" aria-describedby="serialNum"
                  placeholder="Serial # (if applicable)">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <badge for="example-text" class="text-info font-weight-bold">Warranty Expiration</badge>
                <input type="date" id="warrantyExp" class="form-control" aria-describedby="warrentyExp" placeholder="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <badge for="example-description" class="text-info font-weight-bold">Description</badge>
                <textarea class="form-control" id="description" aria-describedby="description"
                  placeholder="Enter Notes and Description"></textarea>
              </div>
            </div>
          </div>
          {{!-- <button id="submit" class="btn btn-primary float-right">Submit</button> --}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default text-info" data-dismiss="modal">Close</button>
        <button id="submit" type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>