<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Ready for Nesting?</h2>
        <a href="/categories">Add New Category</a> | <a href="/locations">Add New Location</a>
        <form class="clearfix mb-4 add-form" action="POST">
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <label for="example-text">Item Name</label>
                <input type="text" id="itemName" class="form-control" aria-describedby="itemName" placeholder="Enter Item Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <label for="category">Category</label>
                <select id="category" class="form-control" aria-describedby="category">
                  {{#each categories}}
                    <option value="{{this.id}}">{{this.categoryName}}</option>
                  {{/each}}
                    {{!-- This was supposed to be a link to an add new category page.
                          As expected, it doesn't work. --}}
                    {{!-- <option><a href="/categories">Add New Category</a></option> --}}
                </select>
                {{!-- <label for="example-text">Category</label>
                <input type="text" id="category" class="form-control" aria-describedby="category" placeholder="Enter Example Text"> --}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="location">Location</label>
                <select id="location" class="form-control" aria-describedby="location">
                  {{#each locations}}
                    <option value="{{this.id}}">{{this.locationName}}</option>
                  {{/each}}
                </select>
                {{!-- <input type="text" id="location" class="form-control" aria-describedby="location" placeholder="Enter Example Text"> --}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="example-text">Cost</label>
                <input type="number" id="cost" class="form-control" aria-describedby="cost" placeholder="$0.00">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="example-text">Serial Number</label>
                <input type="text" id="serialNum" class="form-control" aria-describedby="serialNum" placeholder="Serial Number if Applicable">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="example-text">Warranty Expiration</label>
                <input type="date" id="warrantyExp" class="form-control" aria-describedby="warrentyExp" placeholder="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <label for="example-description">Description</label>
                <textarea class="form-control" id="description" aria-describedby="description" placeholder="Enter Notes and Description"></textarea>
              </div>
            </div>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Items:</h3>
        <ul id="inventory-list" class="list-group">
          {{#each items}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="inventory/{{this.id}}">{{this.category}}</a>
            <p>
              <strong>ID</strong>: {{this.item}}
            </p>
            <p>
              <strong>Category</strong>: {{this.category}}
            </p>
            <p>
              <strong>Description:</strong> {{this.description}}
            </p>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
