<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{items.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{items.item}}</p>
          <p>
          <p>
            <strong>Category</strong>: {{items.category}}</p>
          <p>
          <p>
            <strong>Location</strong>: {{items.location}}</p>
          <p>
          <p>
            <strong>Cost</strong>: {{items.cost}}</p>
          <p>
          <p>
            <strong>Serial Number</strong>: {{items.serialNum}}</p>
          <p>
          <p>
            <strong>Warranty Expiry</strong>: {{items.text}}</p>
          <p>
            <strong>Description and Notes:</strong> {{items.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
